:root {
    --primary-tex-color: rgba(117, 117, 117, 1);
    --title-text-color: #2196F3;
}
z
/* Тіло документа */
body {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(117, 117, 117, 1)
};

/* Логотип */
.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #212121;
    text-decoration: none;
   }

.logo-accent {
    color: #2196F3;
}

/* Навігація */

.list {
    list-style: none;
}

/* Site nav */
.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.section-title {
    color: aqua;
}

/* Button */
button {
    color: var(--primary-tex-color);
    background-color: var(--title-text-color);
}

/* Колір заголовку #FFFFFF
   Колір героя #2F303A
   Колір секції #E5E5E5 
   Передостанньої -  background: #F5F4FA;
*/