/* Змінні */
:root {
    --primary-background-color: rgba(255, 255, 255, 1);
    --primary-tex-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);;
}

body {
    background-color: var(--primary-background-color) ;
    color: var(--primary-tex-color);
    font-family: 'Raleway', sans-serif;
}
/* Логотип */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #212121;
    text-decoration: none;
}
.logo-accent {
    color: #2196F3;
}

/* Навігація */
.site-nav .link {
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus
 {
    color: #2196F3;
}

.contacts .link {
    text-decoration: none;
    color: rgba(117, 117, 117, 1);
}
